.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: row;
  grid-template-areas: "Area-2 Area";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.grid-2 {
  position: relative;
  z-index: 1;
  width: 96vw;
  height: auto;
  max-width: 1440px;
  min-height: 95vh;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 0.5fr 0.75fr;
  grid-template-columns: 1fr 1fr 0.5fr 0.75fr;
  -ms-grid-rows: 1fr 1fr 0.5fr 0.75fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.75fr;
}

.image {
  display: block;
  max-width: 206px;
  margin-top: 18px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-top: 1px solid rgba(190, 82, 36, 0.35);
  border-right: 1px solid rgba(190, 82, 36, 0.35);
  border-left: 1px solid rgba(190, 82, 36, 0.35);
  border-radius: 24px 24px 0px 0px;
  background-color: transparent;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #fff8f0;
}

.div-block-3.glass-block {
  padding: 36px;
}

.large-cta {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #fff8f0;
  box-shadow: 14px 14px 50px 0 rgba(0, 0, 0, 0.05);
}

.large-cta.behance-cta {
  bottom: 0px;
  background-image: url('../images/behance-bg.png');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 14px 14px 50px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: bottom 200ms cubic-bezier(.645, .045, .355, 1), box-shadow 300ms cubic-bezier(.645, .045, .355, 1);
  transition: bottom 200ms cubic-bezier(.645, .045, .355, 1), box-shadow 300ms cubic-bezier(.645, .045, .355, 1);
}

.large-cta.behance-cta:hover {
  bottom: 3px;
  box-shadow: 6px 6px 36px 0 rgba(214, 72, 61, 0.2), 14px 14px 50px 0 rgba(0, 0, 0, 0.05);
}

.large-cta.behance-cta.glass-block {
  border-radius: 16px;
  background-image: url('../images/behance-bg.png'), linear-gradient(132deg, hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.55)), url('../images/noise.png');
  background-position: 100% 100%, 0px 0px, 0px 0px;
  background-size: contain, auto, 248px;
  background-repeat: no-repeat, repeat, repeat;
}

.large-cta.dribbble-cta {
  bottom: 0px;
  background-image: url('../images/dribbble-bg.png');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: box-shadow 300ms cubic-bezier(.645, .045, .355, 1), bottom 200ms cubic-bezier(.645, .045, .355, 1);
  transition: box-shadow 300ms cubic-bezier(.645, .045, .355, 1), bottom 200ms cubic-bezier(.645, .045, .355, 1);
}

.large-cta.dribbble-cta:hover {
  bottom: 3px;
  box-shadow: 6px 6px 36px 0 rgba(253, 213, 153, 0.7), 14px 14px 50px 0 rgba(0, 0, 0, 0.05);
}

.large-cta.dribbble-cta.glass-block {
  margin-bottom: 0px;
  border-radius: 16px;
  background-image: url('../images/dribbble-bg.png'), linear-gradient(140deg, hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.55)), url('../images/noise.png');
  background-position: 100% 100%, 0px 0px, 0px 0px;
  background-size: contain, auto, 248px;
  background-repeat: no-repeat, repeat, repeat;
}

.div-block-5 {
  background-color: #fff8f0;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid rgba(190, 82, 36, 0.35);
  border-bottom: 1px solid rgba(190, 82, 36, 0.35);
  border-left: 1px solid rgba(190, 82, 36, 0.35);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: transparent;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 36px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 64px;
  font-weight: 400;
}

.paragraph {
  max-width: 490px;
  margin-bottom: 0px;
  padding-bottom: 36px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: none;
}

.link {
  display: inline-block;
  margin-bottom: 0px;
  padding-right: 16px;
  font-family: Avenirltstd, sans-serif;
  color: #d6483d;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.div-block-7 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(190, 82, 36, 0.35);
  border-radius: 24px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.text-block {
  margin-bottom: 36px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 18px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Serif Display', sans-serif;
  line-height: 28.8px;
  font-weight: 400;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgba(190, 82, 36, 0.35);
  border-radius: 0px 0px 24px 24px;
  background-image: url('../images/waves-bg.png');
  background-position: 50% 100%;
  background-size: cover;
  background-attachment: scroll;
}

.text-block-2 {
  width: 100%;
  max-width: 380px;
  margin-bottom: 36px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Avenirltstd, sans-serif;
  font-size: 18px;
  line-height: 32.4px;
  font-weight: 900;
}

.link-block {
  margin-right: 48px;
  margin-bottom: 36px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.contact-icons {
  max-height: 24px;
}

.image-2 {
  margin-top: auto;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(190, 82, 36, 0.35);
  border-radius: 24px;
  background-image: url('../images/avatar-bg.png');
  background-position: 50% 50%;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 36px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(190, 82, 36, 0.35);
  border-right: 1px solid rgba(190, 82, 36, 0.35);
  border-left: 1px solid rgba(190, 82, 36, 0.35);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-image: url('../images/process-bg.png');
  background-position: 100% 100%;
  background-size: cover;
}

.div-block-11 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 72px;
  padding-left: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 24px;
  background-color: #fff8f0;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
}

.div-block-11.glass-block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
  background-image: linear-gradient(143deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.55)), url('../images/noise.png');
  background-position: 0px 0px, 50% 50%;
  box-shadow: 0 20px 50px 0 rgba(121, 9, 0, 0.1);
  -webkit-transition: box-shadow 500ms cubic-bezier(.645, .045, .355, 1);
  transition: box-shadow 500ms cubic-bezier(.645, .045, .355, 1);
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgba(190, 82, 36, 0.35);
  border-radius: 0px 0px 24px 24px;
  background-color: transparent;
  box-shadow: none;
}

.image-3 {
  display: block;
  width: 128px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-4 {
  max-width: 48px;
}

.text-block-3 {
  max-width: 218px;
  margin-bottom: 12px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 16px;
  line-height: 25.6px;
}

.image-5 {
  position: absolute;
  left: auto;
  top: 11%;
  right: 4%;
  bottom: auto;
  z-index: 0;
}

.div-block-13 {
  position: relative;
  width: 100%;
}

.image-6 {
  position: absolute;
  left: auto;
  top: auto;
  right: -1%;
  bottom: -8%;
}

.image-7 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 8%;
  bottom: auto;
  margin-bottom: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.image-8 {
  position: absolute;
  left: auto;
  top: 2%;
  right: 1%;
  bottom: 0%;
}

.image-9 {
  position: absolute;
  left: auto;
  top: auto;
  right: 8%;
  bottom: 8%;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 24px;
  background-color: #fff8f0;
  box-shadow: 0 -20px 50px 0 rgba(0, 0, 0, 0.05);
}

.div-block-14.glass-block {
  background-color: transparent;
  background-image: linear-gradient(139deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.5)), url('../images/noise.png');
  background-position: 0px 0px, 50% 50%;
  box-shadow: 0 -15px 48px 0 rgba(121, 9, 0, 0.1);
  -webkit-transition: box-shadow 400ms cubic-bezier(.645, .045, .355, 1);
  transition: box-shadow 400ms cubic-bezier(.645, .045, .355, 1);
}

.cta-text {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Avenirltstd, sans-serif;
  color: #000;
  font-size: 21px;
  line-height: 28px;
  font-weight: 900;
}

.about-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.about-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: auto;
  max-width: 1440px;
  min-height: 95vh;
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 24px;
  background-color: #fff8f0;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-2 {
  max-width: 520px;
  margin-bottom: 36px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.image-10 {
  border-radius: 24px;
  box-shadow: -6px 6px 36px 0 rgba(182, 14, 14, 0.24);
}

.text-span {
  color: #000;
  text-decoration: underline;
}

.modal-h2 {
  margin-top: 0px;
  margin-bottom: 36px;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.link-block-2 {
  position: absolute;
  left: auto;
  top: 5%;
  right: 4%;
  bottom: auto;
}

.image-11 {
  display: inline-block;
  width: 18px;
  padding-bottom: 4px;
}

.link-block-3 {
  display: block;
  text-decoration: none;
}

.text-block-4 {
  display: inline-block;
  padding-right: 8px;
  font-family: Avenirltstd, sans-serif;
  color: #d6483d;
  line-height: 16px;
  letter-spacing: 3.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-block-4 {
  position: relative;
  display: block;
  text-decoration: none;
}

.body {
  overflow: auto;
}

.progress-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.progress-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  max-width: 1440px;
  min-height: 95vh;
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 96px 156px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-radius: 24px;
  background-color: #fff8f0;
}

.grid-3 {
  padding-bottom: 72px;
  grid-row-gap: 36px;
  -ms-grid-columns: 0.75fr 1fr 1fr;
  grid-template-columns: 0.75fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.model-h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
}

.image-12 {
  width: 100%;
  max-width: 936px;
}

.paragraph-3 {
  margin-bottom: 0px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
}

.text-block-5 {
  font-family: 'Avenirltstd book', sans-serif;
  line-height: 32px;
}

.link-2 {
  color: #333;
  text-decoration: underline;
}

.link-3 {
  color: #333;
}

.close-progress {
  position: absolute;
  left: auto;
  top: 3%;
  right: 3%;
  bottom: auto;
}

.glass-block {
  background-color: transparent;
  background-image: linear-gradient(141deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.55)), url('../images/noise.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 248px;
}

.background-canvas {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 0;
  overflow: auto;
  width: 110%;
  height: 110%;
  background-image: url('../images/background-desktop.png');
  background-position: 0% 0%;
  background-size: cover;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-16 {
  position: absolute;
  z-index: 0;
  display: block;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .div-block {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .grid-2 {
    width: auto;
    height: auto;
    padding: 36px;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 0.25fr;
    -ms-grid-columns: 1.25fr 1.25fr 2fr;
    grid-template-columns: 1.25fr 1.25fr 2fr;
    -ms-grid-rows: 1fr 0.9fr;
    grid-template-rows: 1fr 0.9fr;
  }

  .div-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  }

  .div-block-3 {
    display: none;
  }

  .large-cta.behance-cta {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .large-cta.dribbble-cta {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .div-block-7 {
    padding: 56px 56px 36px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .heading-2 {
    margin-top: 0px;
  }

  .text-block {
    margin-bottom: 24px;
    line-height: 32.4px;
  }

  .div-block-8 {
    padding-right: 56px;
    padding-left: 56px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-top-style: solid;
    border-radius: 24px;
  }

  .text-block-2 {
    margin-top: 0px;
    padding-top: 0px;
  }

  .link-block {
    margin-right: 36px;
  }

  .image-2 {
    display: none;
    margin-top: 0px;
  }

  .div-block-9 {
    display: none;
  }

  .div-block-10 {
    display: none;
  }

  .div-block-11 {
    min-height: 50vh;
  }

  .div-block-12 {
    display: none;
  }

  .image-5 {
    top: 2%;
    right: -2%;
  }

  .image-6 {
    right: -7%;
    bottom: -8%;
  }

  .image-7 {
    display: none;
  }

  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-15 {
    margin-right: 0px;
  }

  .image-10 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .grid-2 {
    grid-auto-rows: 0.4fr;
    -ms-grid-rows: 1fr 0.9fr 0.55fr;
    grid-template-rows: 1fr 0.9fr 0.55fr;
  }

  .large-cta.behance-cta {
    background-position: 100% 100%;
  }

  .large-cta.dribbble-cta {
    background-position: 100% 100%;
  }

  .heading {
    font-size: 48px;
  }

  .div-block-7 {
    border-style: none;
  }

  .div-block-11 {
    padding-right: 56px;
    padding-left: 56px;
  }

  .image-3 {
    width: 96px;
  }

  .image-5 {
    top: 2%;
    right: -1%;
  }

  .image-6 {
    right: -2%;
    bottom: -8%;
  }

  .about-content {
    margin-top: 16px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .grid-2 {
    padding: 24px 16px 16px;
    -ms-grid-rows: 0.25fr 0.9fr 0.55fr;
    grid-template-rows: 0.25fr 0.9fr 0.55fr;
  }

  .div-block-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .large-cta {
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .large-cta.behance-cta {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .large-cta.dribbble-cta {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .heading {
    padding-bottom: 16px;
    font-size: 30px;
  }

  .paragraph {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 28px;
  }

  .div-block-7 {
    padding: 24px 36px;
  }

  .heading-2 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .text-block {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 25px;
  }

  .heading-3 {
    font-size: 18px;
    line-height: 25px;
  }

  .div-block-8 {
    padding: 36px;
  }

  .link-block {
    margin-bottom: 24px;
  }

  .div-block-11 {
    height: auto;
    min-height: auto;
    padding: 36px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .image-3 {
    width: 56px;
  }

  .image-4 {
    max-width: 36px;
  }

  .text-block-3 {
    font-size: 14px;
    line-height: 25px;
  }

  .image-5 {
    top: -12%;
    right: -9%;
  }

  .image-6 {
    right: -14%;
    bottom: -16%;
  }

  .image-8 {
    display: none;
  }

  .div-block-14 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .cta-text {
    font-size: 16px;
    line-height: 20px;
  }

  .about-content {
    padding: 36px;
  }

  .paragraph-2 {
    font-size: 14px;
    line-height: 28px;
  }

  .modal-h2 {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .link-block-2 {
    top: 3%;
    right: 10%;
  }
}

#w-node-ede3b37c-ec4b-f456-3bf5-352a981150b7-725347bd {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_914e2d52-f893-afd9-dd69-deee69e5a2df-725347bd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_67a1c891-86e2-ffca-eadf-b319ec0f523e-725347bd {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_67a1c891-86e2-ffca-eadf-b319ec0f5241-725347bd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_67a1c891-86e2-ffca-eadf-b319ec0f5243-725347bd {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_0e0f7493-270a-3625-f2eb-036b374ac026-725347bd {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_15b4136a-7eac-4f4d-4678-26c0cbeb628f-725347bd {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_49792b96-ddae-504a-9bb2-3d58c9923c2e-725347bd {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_0e0f7493-270a-3625-f2eb-036b374ac026-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-_15b4136a-7eac-4f4d-4678-26c0cbeb628f-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_49792b96-ddae-504a-9bb2-3d58c9923c2e-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_42592efd-ffe8-06c9-f363-9712f0842f2d-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-acdca2f1-36a3-e84b-ac6d-89c51fb3e485-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_941dd3df-62bd-5e01-0fa8-aec8a984980d-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_06b25101-4641-2712-4bfa-b8aeb5a79eeb-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_15b4136a-7eac-4f4d-4678-26c0cbeb628f-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-_49792b96-ddae-504a-9bb2-3d58c9923c2e-725347bd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenirltstd book';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}